.core_1_container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;

  .column {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;

    .column-item {
      margin: 20px 0px;
      h4 {
        color: $btn-main-color-hover;
      }
    }
  }
}
