
.appCheckbox_main {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $btn-main-color !important;
    border-color: $btn-main-color !important;
  }

  .ant-checkbox-input:checked + .ant-checkbox-inner {
    background-color: $btn-main-color !important;
    border-color: $btn-main-color !important;
  }

  .ant-checkbox-checked:hover .ant-checkbox-inner {
    background-color: $text-sub-color !important;
    border-color: $text-sub-color !important;
  }

  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-wrapper:hover .ant-checkbox-inner {
    border-color: $text-sub-color !important;
  }
}