.form_qlvt{
  margin: 30px 0px;
}

.icon_action_table{
  cursor: pointer;
  font-size: 15px;
}

.edit{
  color: $text-color-layout
}

.update{
  color: $text-color-layout
}

.delete{
  color: $danger-color
}

.add {
  color: $text-color-layout;
}
