$primary-color: #1890ff;
$white-color: #fff;
// $background-color-header: #387337;
$background-color-header: #173770;
// $background-color-sider: #6bb072;
$background-color-sider: #E0F0FF;
$background-color-sider-menuItem-hover: #ECECEC;
$background-color-submenu: #6bb072;
$color-submenu-item: #fff;
$background-color-submenu-selected: #b5d5bc;
$color-submenu-item-selected: #fff;
$text-main-color: #173770;
$text-sub-color: #577BBA;
$btn-main-color: #173770;
$btn-main-color-hover: #577BBA;
$btn-main-color-focus: #173770;
$black-color: #000;
$primary-color: #0f6c8e;
$primary-color-hover: #095b78;
$primary-color-focus: #1a7d9f;
$primary-color-focus: #1a7d9f;
$danger-color: #ff4d4f;
$star-color:rgb(228, 153, 15);
$background-color-task: rgb(159, 212, 159);
$background-color-done-task:rgb(241, 241, 241);
$text-color-layout: #173770;
$text-color-layout-selected: #CE9142;
$color-gray: #F5F5F5